<div class="container-snipet snipet-responsive">
    <div class="snipet">
        <h1>Protection des données</h1>
        <p class="form-label inline-link">
            Nous collectons ces données afin de...<br>
            Les données collectées sont enregistrées et traitées dans un fichier...<br>
            Ce fichier permet de :<br>
            - ...,<br>
            - ... .<br>
            Vous pouvez accéder aux données vous concernant, les rectifier ou les faire effacer. Vous disposez 
            également d'un droit à la portabilité et d’un droit à la limitation du traitement de vos données 
            (Consultez le site cnil.fr pour plus d’informations sur vos droits).<br>
            Pour exercer ces droits ou pour toute question sur le traitement de vos données dans ce dispositif, 
            vous pouvez contacter notre DPO par voie électronique <a class='mx-0' href='mailto:xxx@xxx.com'>xxx&64xxx.com</a> 
            ou par courrier postal : xxx.<br> 
            Si vous estimez, après avoir contacté notre PDO, que vos droits «&nbsp;Informatique et Libertés&nbsp;» 
            ne sont pas respectés, vous pouvez adresser une réclamation en ligne à la CNIL.
        </p>
    </div>
</div>