<footer>
    <div class="container-fluid max-width">
        <ul class="nav justify-content-center">
            <li class="nav-item"><a [routerLink]="['/legalnotice']" class="nav-link">Legal notice</a></li>
            <li class="nav-item"><a [routerLink]="['/cookiemanagement']" class="nav-link">Cookie management</a></li>
            <li class="nav-item"><a [routerLink]="['/dataprotection']" class="nav-link">Data protection</a></li>
            <li class="nav-item"><a [routerLink]="['/contactus']" class="nav-link">Contact us</a></li>
            <li class="nav-item"><a [routerLink]="['/accessibility']" class="nav-link">Accessibility: non-compliant</a></li>
        </ul>
    </div>
</footer>