<header class="fixed-top">
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid max-width">
            <a class="navbar-brand" [routerLink]="['/']">
                <img src="assets\brand\LogoBranding.svg" width="340px"/>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="navbar-nav mx-auto">
                </div>
                <div class="d-flex flex-column flex-lg-row">
                    <button [routerLink]="['/login']" class="btn btn-outline mx-lg-2" type="button">Log in</button>
                    <button [routerLink]="['/signup']" class="btn btn-primary" type="button">Sign Up</button>
                </div>
            </div>
        </div>
    </nav>   
</header>