<div class="container-snipet snipet-responsive">
    <div class="snipet">
        <h1>Gestion des cookies</h1>
        <p class="form-label">
            Les cookies qui peuvent être déposés ou lus sur ce Site Internet sont indispensables. Ils servent 
            à optimiser votre navigation et vous permettre d’accéder à certains services proposés.
            Ils permettent entre autre de maintenir votre session ouverte lors de votre navigation sur ce Site,
            après que vous vous soyez identifié et jusqu’à votre déconnexion.
        </p>
    </div>
</div>