<div class="container-snipet">
    <div class="snipet">
        <h1>Password reset email sent</h1>
        <p class="form-label mb-3">If an account matching your email exists,<br>
            then an email was just sent that contains a link that you can use to reset your password.<br>
            This link will expire in one hour!</p>
        <p class="form-label mb-3">If you don't receive an email, please check your<br> spam folder 
            or <a [routerLink]="['/forgotpassword']">try again</a>.</p>
    </div>
</div>