<div class="container-snipet snipet-responsive">
    <div class="snipet">
        <h1>Déclaration d’accessibilité</h1>
        <h4 class="m-0">État de conformité</h4>
        <p class="form-label">
            FamilyTreeWorkshop est <b>non conforme</b> avec le référentiel général d’amélioration de l’accessibilité
            (RGAA), version 6 en raison des non-conformités et des dérogations...<br></p>
        <h4 class="m-0 mt-4">Établissement de cette déclaration d’accessibilité</h4>
        <p class="form-label">Cette déclaration a été établie le 31/12/2023. Elle a été mise à jour le 01/01/2024.
        </p>
    </div>
</div>
<div class="container-snipet snipet-responsive inner">
    <div class="snipet">
        <h4 class="m-0">Retour d’information et contact</h4>
        <p class="form-label inline-link">
            Si vous n’arrivez pas à accéder à un contenu ou à un service, vous pouvez contacter le responsable de nom,
            url du site pour être orienté vers une alternative accessible ou obtenir le contenu sous une autre forme :<br>
            - Envoyer un <a class='mx-0' [routerLink]="['/contactus']">message</a>,<br>
            - Contacter <a class='mx-0' href='mailto:xxx@xxx.com'>...</a> .<br>
        </p>
    </div>
</div>
<div class="container-snipet snipet-responsive">
    <div class="snipet">
        <h4 class="m-0">Voies de recours</h4>
        <p class="form-label inline-link">
            Si vous constatez un défaut d’accessibilité vous empêchant d’accéder à un contenu ou une
            fonctionnalité du site, que vous nous le signalez et que vous ne parvenez pas à obtenir une réponse de notre
            part, vous êtes en droit de faire parvenir vos doléances ou une demande de saisine au Défenseur des droits.<br>
            Plusieurs moyens sont à votre disposition :<br>
            - Écrire un message au <a class='mx-0' href='https://formulaire.defenseurdesdroits.fr/'>Défenseur
                des droits</a>,<br>
            - Contacter le <a class='mx-0' href='https://www.defenseurdesdroits.fr/saisir/delegues'>délégué du
                Défenseur des droits dans votre région</a>,<br>
            - Envoyer un courrier par la poste (gratuit, ne pas mettre de timbre) :
            Défenseur des droits - Libre réponse 71120 - 75342 Paris CEDEX 07.
        </p>
    </div>
</div>