<div class="container-snipet">
    <div class="snipet row">
        <div class="col-4 mb-3">
            <img src="..\assets\artworks\Forgotpassword.svg" width="85px" alt="Forgot password" />
        </div>
        <div class="col-8 d-flex align-items-end">
            <h1>Forgot your password?</h1>
        </div>
        <p class="form-label mb-3">Enter the email address associated with your account. 
            An email containing instructions for creating a new password will be sent to you.</p>
        <form [formGroup]='forgotpasswordForm'(ngSubmit)="onSubmitForgotpasswordForm()">
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control form-control-lg" formControlName='email'>
            </div>
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary"
                [disabled]="!forgotpasswordForm.valid">Send reset link</button>
            </div>
        </form>
    </div>
</div>